TZ=Australia/Sydney
MONGO_INITDB_ROOT_USERNAME=mongoadmin
MONGO_INITDB_ROOT_PASSWORD=super-secret-password
MONGO_INITDB_DATABASE=nightsocutdb
MONGO_INITDB_USER=nightscout
MONGO_INITDB_PASS=secret-passsword